{% extends 'demo-digital-agency.html' %}
        {% block metas %}
        <meta property="og:url" content="https://girekstudio.com/servicios/{{ servicio.id }}"/>
        <meta property="og:type"    content="website"/>
        <meta property="og:title"   content="GIREKSTUDIO"/>
        <meta property="og:description" content="GirekStudio, somos un estudio de diseño publicitario especializados en estrategias de marca, imagen e identidad corporativa, diseño web, social media y todo lo referente a la gráfica publicitaria">
        <meta property="og:image"   content="https://girekstudio.com/media/{{servicio.imagen }}" />
        <meta property="og:image:width" content="400"/>
        <meta property="og:image:height" content="300"/>
        <meta property="og:image:secure_url" content="https://girekstudio.com/media/{{servicio.imagen }}" />
        {% endblock %}



{% block menu %}
    <div class="header-column">
        <div class="header-row">
            <div class="header-nav header-nav-stripe">
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="header-social-icons social-icons hidden-xs">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/girekstudio" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/girekstudio" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/girekstudio" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://webmail.webfaction.com/" target="_blank" title="Correo Girek"><i class="fa fa-user"></i></a></li>
                </ul>
                <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                    <nav>
                        <ul class="nav nav-pills" id="mainNav">
                            <li>
                                <a href="/">
                                    Inicio
                                </a>
                            </li>
                            <li>
                                <a href="/estudio/">
                                    Estudio
                                </a>
                            </li>
                            <li style="background-color: #4fc1e9;">
                                <a href="/servicios/" style="background-color: #4fc1e9;">
                                    Servicios
                                </a>
                            </li>
                            <li>
                                <a href="/portafolio/">
                                    Portafolio
                                </a>
                            </li>
                            <li>
                            <a href="/tienda/">
                                Productos
                            </a>
                        </li>
                            <li>
                                <a href="/blog/">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="/contacto/">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block principal %}
    <br><br><br>

    <section class="m-xl pb-xl">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mb-none mt-xl font-weight-semibold">SERVICIOS</h2>
                </div>
            </div>
        </div>
    </section>
    <hr>

<div class="row" style="padding: 30px">
    <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
        {% for servicio in servicios %}
            <li class="col-md-3 isotope-item brands">
                <div class="portfolio-item">
                    <a href="/servicios/{{ servicio.id }}/">
                        <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                                <img src="/media/{{servicio.imagen }}" class="img-responsive" alt="">
                                <!--
                                {% for imagen in imagenes %}
                                    {% if imagen.servicio == servicio and imagen.estado %}
                                    <img src="/media/{{imagen.imagen }}" class="img-responsive" alt="">
                                    {% endif %}
                                {% endfor %}
                                 -->

                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ servicio.titulo }}</span>
                                </span>
                                <span class="thumb-info-action">
                                    <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>


    <section class="pb-xl">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mb-none mt-xl font-weight-semibold">PROCESO:</h2>
                    <p class="lead mb-xlg"></p>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="featured-boxes-full featured-boxes-full-scale clearfix">
        <div class="col-md-3">
            <div class="featured-box-full featured-box-full-primary">
                <i class="icon-directions icons"></i>
                <h4 class="mt-xl">1 - BRIEF</h4>
                <p style="text-align: justify">{{ proceso.tema_uno }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box-full featured-box-full-primary">
                <i class="icon-docs  icons"></i>
                <h4 class="mt-xl">2 - PLANEACIÓN</h4>
                <p style="text-align: justify">{{ proceso.tema_dos }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box-full featured-box-full-primary">
                <i class="icon-puzzle icons"></i>
                <h4 class="mt-xl">3 - SOLUCIÓN</h4>
                <p style="text-align: justify">{{ proceso.tema_tres }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box-full featured-box-full-primary">
                <i class="icon-rocket icons"></i>
                <h4 class="mt-xl">4 - ARTE FINAL</h4>
                <p style="text-align: justify">{{ proceso.tema_cuatro }}</p>
            </div>
        </div>
    </div>


    <section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer call-to-action-in-footer-margin-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action-content">
                        <p>Para conocer  más sobre nuestros servicios y como estos le pueden ayudar, puede solicitar una visita a su negocio u empresa !</p>
                    </div>
                    <div class="call-to-action-btn">
                        <a href="/contacto/" target="_blank" class="btn btn-lg btn-primary">Aquí</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}