{% extends 'demo-digital-agency.html' %}
    {% block metas %}
        <meta property="og:url"           content="http://girekstudio.com/servicios/{{ servicios.id }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ servicios.titulo }}" />
        <meta property="og:description"   content="{{ servicios.descripcion }}" />
        <meta property="og:image"         content="http://girekstudio.com/media/{{ servicios.imagen }}" />
    {% endblock %}

{% block menu %}
    <div class="header-column">
        <div class="header-row">
            <div class="header-nav header-nav-stripe">
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="header-social-icons social-icons hidden-xs">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/girekstudio" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/girekstudio" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/girekstudio" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://webmail.webfaction.com/" target="_blank" title="Correo Girek"><i class="fa fa-user"></i></a></li>
                </ul>
                <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                    <nav>
                        <ul class="nav nav-pills" id="mainNav">
                            <li>
                                <a href="/">
                                    Inicio
                                </a>
                            </li>
                            <li>
                                <a href="/estudio/">
                                    Estudio
                                </a>
                            </li>
                            <li style="background-color: #4fc1e9;">
                                <a href="/servicios/" style="background-color: #4fc1e9;">
                                    Servicios
                                </a>
                            </li>
                            <li>
                                <a href="/portafolio/">
                                    Portafolio
                                </a>
                            </li>
                            <li>
                            <a href="/tienda/">
                                Productos
                            </a>
                            </li>
                            <li>
                                <a href="/blog/">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="/contacto/">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block principal %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "margin": 10}'>
                    {% for imagen in imagenes %}
                    <div>
                    <br/>
                        <span class="img-responsive, thumb-info-wrapper">
                            <img alt="" height="300" class="img-responsive" src="/media/{{ imagen.imagen }}">
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="col-md-7"  style="text-align: justify" >
                <h2 style="text-align: center;" class="mb-none"><strong>{{ servicios.titulo|upper }}</strong></h2>
                <hr class="solid">
                <p  style="text-align: justify"> {{ servicios.descripcion|safe|linebreaksbr }} </p>
                <div class="featured-boxes">

                    <div class="row"  style="padding: 30px">
                        <h2 align="center">Ajustamos un plan ideal para ti</h2>
                        <div class="call-to-action-btn" align="center">
                            <a  href="/contacto" target="_blank" class="btn btn-lg btn-primary">Contáctanos</a>
                            <span class="arrow hlb hidden-xs hidden-sm hidden-md appear-animation rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="tall">
    <div class="container">
        <div class="row" style="padding: 10px">
            {% for infoserv in infoserv %}
            <div class="col-md-4" >
                <div class="row mt-lg">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="fa fa-{{ infoserv.infoicono.nombre }}"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-none">{{ infoserv.titulo }}</h4>
                            <p style="text-align: justify">{{ infoserv.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr class="tall">




    <div class="container">
        {% if planes %}
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"><strong>Planes</strong> Pymes</h2>
                <br>
            </div>
        </div>

        <div class="row">

            <div  class="pricing-table ">

                {% for plan in planes %}
                    <div class="col-md-4 col-sm-6 center">
                        {% if plan.planpopular %}
                        <div class="plan most-popular">
                            <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
                            {% else %}
                            <div class="plan">
                        {% endif %}
                    

                            <h3>{{ plan.tipoplan }}<span>${{ plan.precioplan }}</span></h3>
                            <a class="btn btn-lg btn-primary" href="#">Pedir</a>
                            <ul>
                            {% for detalle in detalles %}
                            
                                {% if detalle.contenido.id == plan.id %}
                                    <li>{{ detalle.detalle }}</li>
                                {% endif %}
                            {% endfor %}
                            

                                
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row" style="padding: 30px;">
        <div class="col-lg-2">
        </div>
            {% for video in videoserv %}

            <div class="col-lg-8" style="padding: 15px">
                    <video style="width: 100%" controls="" name="media">
                        <source src="/media/{{ video.video }}" type="video/mp4">
                    </video>
            </div>
            {% endfor %}
        <div class="col-lg-2">
        </div>
    </div>


    <div align="center">
        <a href="/"><button type="button"  class="btn btn-borders btn-primary btn-lg">Volver Inicio</button></a>
        <a href="/servicios"><button type="button"  class="btn btn-borders btn-primary btn-lg">Volver Servicios</button></a>
    </div>





</div>
{% endblock %}